---
---

<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="style.css">
  <!-- <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa"> -->
  <!-- link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet" -->
</head>

<body>
  <div id='content'>
    <div id='menu'>
      <h1>Gabriel Lundberg</h1>
      <!-- h2>builder & theorist in tech</h2 -->
      <ul>
        <li><a href='/'>Getting in touch<div class='dot'></div></a></li>
        <li class='active'><a href='/due-diligence'>Due diligence<div class='dot'></div></a></li>
      </ul>
    </div>
    {{ content }}
  </div>
</body>
</html>