---
---

<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">

  <title>{{ site.title }}: {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta property="og:title" content="{{ site.title }}: {{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:image" content="/opengraph.png">

  <!-- via https://realfavicongenerator.net/ -->
  <link rel="icon" href="/favicon.ico" sizes="48x48" >
  <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#1500c9">
  <link rel="manifest" href="/site.webmanifest" />
</head>

<body>
  <div id='content'>
    <div id='menu'>
      <h1>Gabriel Lundberg</h1>
      <!-- h2>builder & theorist in tech</h2 -->
      <ul>
        {% assign menu_pages = site.pages | where_exp: "item", "item.menu_order" | sort: "menu_order" %}
        {% for menu_page in menu_pages %}
        <li{% if menu_page == page %} class='active'{% endif %}>
          <a href='{{ menu_page.dir }}'>
            {% if menu_page.menu_title %}{{ menu_page.menu_title }}{% else %}{{ menu_page.title }}{% endif %}
            <div class='dot' style='background-color: {{ menu_page.color }};'></div>
          </a>
        </li>
        <!--li class='active'><a href='/due-diligence'>Due diligence<div class='dot'></div></a></li-->
        {% endfor %}
      </ul>
    </div>
    {{ content }}
  </div>
</body>
</html>